.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-caption {
  margin-top: 5px;
  font-weight: bold;
}

.colour-wheel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
}

.between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.evenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7px;
}

[class$="-mana"] {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
}

.w-mana {
  background-color: #ffd;
}

.u-mana {
  background-color: #378bc6;
}

.b-mana {
  background: #000;
}

.r-mana {
  background: #af1d1d;
}

.g-mana {
  background: #5bd387;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}

[class$="-mana"]:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  transition: 0.5s all ease;
  transform: scale(1);
}

.w-mana:before {
  background-color: #eae0bd;
  animation-delay: 200ms;
}

.u-mana:before {
  background-color: #378bc6;
  animation-delay: 400ms;
}

.b-mana:before {
  background-color: #000;
  animation-delay: 600ms;
}

.r-mana:before {
  background-color: #af1d1d;
  animation-delay: 800ms;
}

.g-mana:before {
  background-color: #5bd387;
  animation-delay: 1000ms;
}
