@import "//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5fr 1.5fr;
  grid-auto-rows: auto;
  background: white;
  height: 100vh;
}

header, footer {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: lightslategray;
  grid-column: span 2;
}

footer {
  justify-content: center;
}

.filters {
    grid-area: 2 / 2 / span 1;
}
