@import "//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5fr 1.5fr;
  grid-auto-rows: auto;
  color: white;
  background-color: #347092;
  background-image:
  linear-gradient(90deg,  
    transparent 0 77%, 
    #050F17 0),
  radial-gradient(
    circle at left,
    #347092,
    #063858,
    #042439,
    #050F17
  );
  min-height: 100vh;
}

header, footer {
  display: flex;
  align-items: center;
  min-height: 50px;
  grid-column: span 2;
  padding: 0 1rem;
}

h2 {
  font-size: 2rem;
  color: #c8371b;
  font-weight: 900;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  list-style: none;
  align-items: baseline;
}

@media screen and (max-width: 598px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
  }
}

.footer a {
  font-weight: bold;
  text-decoration: none;
  color: #c8371b;
}

.react-logo {
  display: inline-block;
  max-height: 20px;
  vertical-align: bottom;
  padding: 0 3px;
}

.react {
  color: #61dafb;
}

.filters {
    grid-area: 2 / 2 / span 1;
    background-color: #050F17;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

@media screen and (max-width: 730px) {
  .App {
    grid-template-columns: 1fr;
    background-image:
    radial-gradient(
      circle at center,
      #347092,
      #063858,
      #042439,
      #050F17
    );
  }
  h2 {
    width: 100%;
  }
  header, footer {
    grid-column: span 1;
    background-color: #050F17;
    padding: 0.5rem;
  }
  .filters {
    margin: -1rem 0 0 0;
    grid-area: 2 / 1 / span 1;
  }
}